.sign-up-page {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    /* background-image: url('https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?q=80&w=1878&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-position: center;
    background-size: cover;
  }
  
  .sign-up-page header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sign-up-page h1 {
    font-size: 2em;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f61;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #e65c50;
  }
  